div {
    border:1px solid gray;
    margin: 5px;
    padding: 5px;
}

#a {
    background-color: aquamarine;
    text-align: center;
}

#b {
    background-color: coral;
    float: left;
    width: 230px;
    margin-top: 0;

/* Float Livre --> */
}
#c {
    background-color: darkcyan;
    font-family: 'Franklin Gothic Medium';
    color: white;
    margin-left: 252px;
    margin-right: 252px;
}

/* Float fixo --> */

#d {background-color: darksalmon;
    float: right;
    width: 230px;
    margin-top: 0;
}

/* Float fixo abaixo de todos os elementos -->  */
#e {
    background-color: darkgreen;
    text-align: center;
    color:white;
    clear: both;
}